<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig ForwardReceivedMessagesTo="system_auditor">
    <MessageEndpointMappings>
      <add Assembly="NServiceBusDemo.Commands" Type="NServiceBusDemo.Commands.AmplifyPost" Endpoint="facebook_endpoint" />
      <add Assembly="NServiceBusDemo.Events" Type="NServiceBusDemo.Events.PostScheduleAccepted" Endpoint="content_publishing_scheduler" />
      <add Assembly="NServiceBusDemo.Events" Type="NServiceBusDemo.Events.PostScheduleCompleted" Endpoint="content_publishing_scheduler" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>